{% extends "layout.html" %}

{% block heading %}
<div class="header">
  <h1>Dicktest.net</h1>
</div>
<div class="subhead">
<h2>World Average = {{avg}}</h2>
</div>
{% endblock %}

{% block body %}

<div class="center">




<h3>Your dick size is {{comment}}</h3>

<br>
<div id="namer">
 <div id="namer-input">
<form action="{{ url_for('index') }}" method="post">
    <input type="text" name="size" placeholder="Enter your dick size here">
    <br>
    <button type="submit">Add Your Size</button>
</form>
</div>
</div>
</div>
{% endblock %}
